h1 {
    text-align: center;
    color: #FFD700;
}

html {
    background-image: url(prazdnichnye-fony-s-vozdushnymi-sharami-4.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }